html, body {
	height: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-family: proxima-nova;
}

body {
	font-family: proxima-nova;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* HTML styles
-------------------------------------------------- */

#navigationpanel {
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: .15em;
}

.headerstyle1 {
	font-family: proxima-nova;
	font-size: 20px;
	text-transform: uppercase;
}

#logodiv {
	display: flex;
	align-items: center;
	letter-spacing: .15em;

}

.iconpics {
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 27px;
}

.show, .collapsing{
	text-align: right;
}

.imageback {
	text-align: center;
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/adambw.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

.centereditems {
	text-align: center;
}

#titleinfo {
	position: relative;
	margin-top: 25%;
	margin-bottom: 25%;
	font-family: proxima-nova;
	letter-spacing: .1em;
}

.trio {
	display: none;
}

.trioitem {
	float: right;
	padding: 0px 8px;
}

/* Section two styles
-------------------------------------------------- */
#adambwjpg {
	width: 100%;
	z-index: 0;
	opacity: .7;
}

#quoteone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: proxima-nova;
  line-height: 1.32;
  width: 65%;
  letter-spacing: .1em;
}

#quotetwo {
	position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: proxima-nova;
  line-height: 1.32;
  width: 65%;
  font-style: italic;
  letter-spacing: .1em;
}


.mystorypara {
  font-family: proxima-nova;
	font-size: 26px;
	letter-spacing: .01em;
	font-weight: 300;

}

.firstsection {
	color: #FFFFFF;
	background-color: #212529;
}

.secondsection {
	background-color: #edeeef;
}

.thirdsection {
	color: #FFFFFF;
	background-color: #212529;
}

#quotes {

	opacity: 0;
	animation: mymove 6s;
	-webkit-animation: mymove 6s linear;
}

/*@-webkit-keyframes mymove {
    0%   {top: 0px;}
    100% {top: 100px;}
}*/

@keyframes mymove {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
}
/* Portfolio Page
-------------------------------------------------- */
#portfoliofirst {
	background-color: #edeeef;
}

.wrapper {
  /*visibility: hidden;*/
}

.wrapper2 {

}

.project {
	min-height: 250px;
}

.customadjust {
	padding-bottom: 30px;
}

.technologiesused {
	-webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-style: italic;
  font-weight: bold;
  color: white;
  left: 50%;
  position: absolute;
  top: 25%;
  width: 90%;
  padding: 3% 7%;
  letter-spacing: .2em;
  visibility: hidden;

}

.projecttitles {
	-webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%); 
  color: white;
  left: 50%;
  position: absolute;
  top: 55%;
  width: 75%;
  padding: 3% 7%;
  border: .15em solid white;
  letter-spacing: .2em;
  visibility: hidden;

}

.projecttitles2 {
	-webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%); 
  color: white;
  left: 50%;
  position: absolute;
  top: 80%;
  width: 75%;
  padding: 3% 7%;
  border: .15em solid white;
  letter-spacing: .2em;
  visibility: hidden;

}
.projecttitles2:hover, .projecttitles:hover {
	background-color: white;
	color: black;
}  

a, a:hover {
	color: black;
}

#project1, #project2, #project3, #project4, #project5, #project6 {
	margin-bottom: 30px;
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Contact Page
-------------------------------------------------- */

form {
	font-family: proxima-nova;
	padding: 1.3em;
	/*border: 3px solid #f5f5f5;*/
}

#errorPost {
	display: none;
}

#successPost {
	display: none;
}

#errorAllfields {
	display: none;
}

/* Responsive adjustments
-------------------------------------------------- */

/*Small devices (landscape phones, 400px and up)*/
@media only screen and (min-width: 400px) {
/*	#quoteone {
		font-size: 20px;
	}*/
	.display-3 {
		font-size: 1.6em;
	}

	#quotetwo {
		font-size: 1em;
	}
}
@media only screen and (max-width: 767px) { 

	.technologiesused, .projecttitles, .projecttitles2 {
		visibility: visible;
	}

	.project {
		opacity: .3;
	}

 }

 /*Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) { 
/*	#quoteone {
		font-size: 35px;
	}*/
	.display-3 {
		font-size: 2.75em;
	}
	#quotetwo {
		font-size: 2.1em;
	}


 }

/*Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
/*	#quoteone {
		font-size: 50px;
	}*/
	.display-3 {
		font-size: 3em;
	}
	#quotetwo {
		font-size: 1.2em;
	}
}
@media only screen and (max-width: 991px) {

	.trio {
		display: inline;
	}

	.originaltrio {
		display: none;
	}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1320px) {
/*	#quoteone {
		font-size: 60px;
	}*/
	.display-3 {
		font-size: 3.75em;
	}
	#quotetwo {
		font-size: 3.0em;
	}
}
